:root{
  /* Colors */
  --absolute-black: #000;
  --absolute-green : #00ff00;
  --absolute-white: #fff;
}

body{
  background-color: var(--absolute-black);
}

header{
  /* Text  */
  color: var(--absolute-green);
  font-family:'Courier New', Courier, monospace;
  font-size: 1.8em;
  text-shadow: #000 0 0 5px;

  /* Style */

  /* Sizes */
  padding: 1.5rem;
}

main{

  width: 50rem;
  height: 50rem;
  margin-left: auto;
  margin-right: auto;
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Style */
  background-color: var(--absolute-white);
}